.pb-1{
  padding-bottom: 1rem;
}

.social-icons {
	display: flex;
	margin: auto;
}

.social-login__icon {
	padding: 20px 10px;
	color: #fff;
	text-decoration: none;
	text-shadow: 0px 0px 8px #7875B5;
}

.social-login__icon:hover {
	transform: scale(1.5);
}

#cart-badge {
  position: absolute;
  top: 0px;
  right: 0px;
}
