<ion-header>
  <ion-toolbar>
    <ion-title>manage-people</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-card
      *ngFor="let user of users"
      class="people"
      style="min-width: 330px"
    >
      <div>
        <ion-avatar style="margin: 0 auto; height: 100px; width: 100px">
          <img [src]="user.photoURL" />
        </ion-avatar>
        <h1 style="margin-top: 1.5rem; text-align: center">
          {{user.displayName}}
        </h1>
        <ion-fab
          style="top: 66px; right: 102px"
          vertical="top"
          horizontal="end"
          slot="fixed"
          *ngIf="role==='admin'"
        >
          <ion-fab-button
            color="danger"
            size="small"
            (click)="deleteUser(user.id)"
          >
            <ion-icon name="close"></ion-icon>
          </ion-fab-button>
        </ion-fab>
      </div>
      <ion-card-content>
        <ion-list slot="content">
          <ion-item>
            <ion-icon name="mail" slot="start"></ion-icon>
            <ion-label>{{user.email}}</ion-label>
          </ion-item>
          <ion-item *ngIf="role==='admin'||role==='manager'">
            <ion-icon name="call" slot="start"></ion-icon>
            <ion-label>{{user.phoneNumber}}</ion-label>
          </ion-item>
          <ion-item *ngIf="!user.editRole">
            <ion-icon name="id-card" slot="start"></ion-icon>
            <ion-label>{{user.role}}</ion-label>
            <ion-icon
              name="pencil"
              slot="end"
              (click)="user.editRole=true"
              *ngIf="!user.editRole"
            ></ion-icon>
          </ion-item>
          <ion-item *ngIf="user.editRole">
            <ion-label>Select Role</ion-label>
            <ion-select
              value="manager"
              okText="Okay"
              cancelText="Cancel"
              (ionCancel)="user.editRole=false"
              (ionChange)="changeRole(user)"
              [(ngModel)]="user.role"
            >
              <ion-select-option value="admin" *ngIf="role==='admin'">admin</ion-select-option>
              <ion-select-option value="manager" *ngIf="role!=='volunteer'">manager</ion-select-option>
              <ion-select-option value="volunteer">volunteer</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </ion-grid>
</ion-content>
