<ion-header>
  <ion-toolbar color="primary">
    <ion-title>About Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div
    data-animation="over"
    data-duration="500"
    data-infinite="1"
    data-delay="4000"
    data-autoplay="1"
    class="slider w-slider"
    role="region"
    aria-label="carousel"
  >
    <div class="mask w-slider-mask" id="w-slider-mask-0">
      <div
        class="slide w-slide"
        aria-label="1 of 3"
        role="group"
        style="opacity: 1; z-index: 219; visibility: inherit"
        aria-hidden="false"
      >
        <div class="w-container" aria-hidden="true">
          <h1 class="main-heading" aria-hidden="true">
            United Way Hyderabad improves lives by mobilizing the caring power
            of communities to advance the common good.
          </h1>
          <a
            href="https://www.unitedwayhyderabad.org/index"
            class="button"
            tabindex="-1"
            aria-hidden="true"
            target="_blank"
          >
            SEE OUR WORK
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="section beige">
    <div class="w-container">
      <div class="w-row">
        <div class="w-col w-col-4">
          <div class="number">001</div>
          <div class="process-titles">EDUCATION</div>
          <div class="icon-wrapper">
            <img src="assets/education.png" width="100" alt="" />
          </div>
          <p>
            Providing education to the government institutions and other private
            and non-governmental agencies, have experimented a myriad of ideas
            to improve the infrastructure and governance system of the schools.
          </p>
        </div>
        <div class="w-col w-col-4">
          <div class="number">002</div>
          <div class="process-titles">HEALTH & WELLBEING</div>
          <div class="icon-wrapper">
            <img src="assets/health.png" width="95" alt="" />
          </div>
          <p>
            The focus of the project is to create a healthy & Prosperous living,
            by promoting and encouraging Sports education for underprivileged
            children from Govt schools , which does not have access to proper
            sports facilities, Physical education etc.
          </p>
        </div>
        <div class="w-col w-col-4">
          <div class="number">003</div>
          <div class="process-titles">ENVIRONMENT</div>
          <div class="icon-wrapper">
            <img src="assets/tree.png" width="114" alt="" />
          </div>
          <p>
            We are changing the environment to the better by two of our
            initiatives
            <a
              href="https://www.unitedwayhyderabad.org/wake-the-lake"
              target="_blank"
              >Wake the Lake</a
            >
            Project, and
            <a
              href="https://www.unitedwayhyderabad.org/high-density-plantation"
              target="_blank"
              >High Density Plantation</a
            >
            Project.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="section image">
    <div class="w-container">
      <h1>
        Our focus is on education, health and livelihood - critical components
        to build an economically and socially productive community.
      </h1>
      <div class="horizontal-bar beige"></div>
    </div>
  </div>
  <div class="section">
    <div class="w-container">
      <div class="w-row">
        <div class="w-col w-col-3 w-col-small-6"><h2>THE TEAM</h2></div>
        <div class="w-col w-col-3 w-col-small-6">
          <div class="team-member">
            <img
              src="assets/prajyoth.jpg"
              alt=""
              style="filter: grayscale(1)"
            />
            <div class="name">Prajyoth Mavoori</div>
            <div class="position">Developer</div>
            <div class="icons-wrapper">
              <a
                href="https://www.facebook.com/mavoori.prajyoth"
                target="_blank"
                class="social-icon w-inline-block"
              >
                <ion-icon
                  name="logo-facebook"
                  style="font-size: 22px"
                  color="dark"
                ></ion-icon>
              </a>
              <a
                href="https://www.github.com/prajyoth-m"
                target="_blank"
                class="social-icon w-inline-block"
              >
                <ion-icon
                  name="logo-github"
                  style="font-size: 22px"
                  color="dark"
                ></ion-icon>
              </a>
              <a
                href="https://www.linkedin.com/in/prajyoth-mavoori"
                target="_blank"
                class="social-icon w-inline-block"
              >
                <ion-icon
                  name="logo-linkedin"
                  style="font-size: 22px"
                  color="dark"
                ></ion-icon>
              </a>
            </div>
          </div>
        </div>
        <div class="w-col w-col-3 w-col-small-6">
          <div class="team-member">
            <img
              src="assets/ajay.jfif"
              alt=""
              style="filter: grayscale(1)"
            />
            <div class="name">Ajay Karri</div>
            <div class="position">Developer</div>
            <div class="icons-wrapper">
              <a href="#" class="social-icon w-inline-block">
                <ion-icon
                  name="logo-facebook"
                  style="font-size: 22px"
                  color="dark"
                ></ion-icon>
              </a>
              <a
                href="https://github.com/AjayVenkataRajuKarri"
                target="_blank"
                class="social-icon w-inline-block"
              >
                <ion-icon
                  name="logo-github"
                  style="font-size: 22px"
                  color="dark"
                ></ion-icon>
              </a>
              <a href="#" class="social-icon w-inline-block">
                <ion-icon
                  name="logo-linkedin"
                  style="font-size: 22px"
                  color="dark"
                ></ion-icon>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section footer">
    <div class="w-container">
      <div class="w-row">
        <div class="w-col w-col-4">
          <img
            src="assets/5e457cdd6bf0d067ea420d45_stone-logo.svg"
            width="20"
            alt=""
            class="stone-logo footer"
          />
          <div class="footer-text w-hidden-small w-hidden-tiny">
            2014 Stone Creative Agency
          </div>
        </div>
        <div class="w-col w-col-4">
          <a
            href="mailto:contact@unitedwayhyderabad.org"
            class="button beige footer"
          >
            get in touch with us
          </a>
        </div>
        <div class="w-col w-col-4">
          <div class="footer-text address">
            Flat No: 401, 4th Floor, Lahari Park Apartment, Somajiguda,
            Hyderabad - 500 082.
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
