<div class="container">
  <div class="screen">
    <div class="screen__content">
      <form class="login">
        <div id="InfoBanner" *ngIf="errorMessage!==undefined">
          <span class="reversed reversedRight">
            <span>
              &#9888;
            </span>
          </span>
          <span class="reversed reversedLeft">
            {{errorMessage}}
          </span>
        </div>
        <ion-item>
          <ion-icon name="mail"></ion-icon>
          <ion-input
            type="text"
            placeholder="Email"
            name="email"
            (ngModelChange)="inputChange()"
            [(ngModel)]="email"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="lock-closed"></ion-icon>
          <ion-input
            type="password"
            placeholder="Password"
            name="password"
            (ngModelChange)="inputChange()"
            [(ngModel)]="password"
          ></ion-input>
        </ion-item>
        <button class="button login__submit" (click)="doLogin()">
          <span class="button__text">Log In Now</span>
          <ion-icon
            class="button__icon"
            name="arrow-forward-circle-outline"
          ></ion-icon>
        </button>
      </form>
      <div class="social-login">
        <h1 style="padding-bottom: 1rem">log in via</h1>
        <div class="social-icons">
          <ion-button fill="clear" (click)='googleLogin()'
            ><ion-icon
              slot="icon-only"
              color="light"
              name="logo-google"
            ></ion-icon
          ></ion-button>
          <ion-button fill="clear" (click)='facebookLogin()'
            ><ion-icon
              slot="icon-only"
              color="light"
              name="logo-facebook"
            ></ion-icon
          ></ion-button>
          <ion-button fill="clear" (click)='twitterLogin()'
            ><ion-icon
              slot="icon-only"
              color="light"
              name="logo-twitter"
            ></ion-icon
          ></ion-button>
        </div>
      </div>
    </div>
    <div class="screen__background">
      <span class="screen__background__shape screen__background__shape4"></span>
      <span class="screen__background__shape screen__background__shape3"></span>
      <span class="screen__background__shape screen__background__shape2"></span>
      <span class="screen__background__shape screen__background__shape1"></span>
    </div>
  </div>
</div>
