<ion-header>
  <ion-toolbar>
    <ion-title>event-editor</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid style="width: 85%">
    <ion-col>
      <ion-item fill="outline" mode="md">
        <ion-label position="floating">Event Name</ion-label>
        <ion-input
          type="text"
          autocomplete="off"
          autocorrect="off"
          required
          [(ngModel)]="event.name"
        ></ion-input>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item fill="outline" mode="md">
        <ion-label position="floating">Event Description</ion-label>
        <ion-input
          type="text"
          autocomplete="off"
          autocorrect="off"
          required
          [(ngModel)]="event.description"
        ></ion-input>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item fill="outline" mode="md">
        <ion-label position="floating">NGO Name</ion-label>
        <ion-input
          type="text"
          autocomplete="off"
          autocorrect="off"
          required
          [(ngModel)]="event.ngoName"
        ></ion-input>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item fill="outline" mode="md">
        <ion-label position="floating">Photo URL</ion-label>
        <ion-input
          type="text"
          autocomplete="off"
          autocorrect="off"
          required
          [(ngModel)]="event.photo"
        ></ion-input>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item fill="outline" mode="md">
        <ion-label position="floating">Beneficiaries</ion-label>
        <ion-input
          type="number"
          autocomplete="off"
          autocorrect="off"
          required
          [(ngModel)]="event.beneficiaries"
        ></ion-input>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item fill="outline" mode="md">
        <ion-label position="floating">Age Group of Viewers</ion-label>
        <ion-input
          type="text"
          autocomplete="off"
          autocorrect="off"
          required
          [(ngModel)]="event.ageGroup"
        ></ion-input>
      </ion-item>
    </ion-col>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Is Event Virtual</ion-label>
          <ion-checkbox
            color="primary"
            slot="start"
            [(ngModel)]="event.isVirtual"
          ></ion-checkbox>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label>Is Event Physical</ion-label>
          <ion-checkbox
            color="primary"
            slot="start"
            [(ngModel)]="event.isPhysical"
          ></ion-checkbox>
        </ion-item>
      </ion-col>
      <ion-col *ngIf="event.isPhysical">
        <ion-button color="tertiary" expand="full" (click)="addLocationModal()">
          Add Location
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-col>
      <ion-item fill="outline" mode="md">
        <ion-label position="floating"
          >Languages (ex: english,hindi,telugu)</ion-label
        >
        <ion-input
          type="text"
          autocomplete="off"
          autocorrect="off"
          required
          (focusout)="splitLanguages()"
          [(ngModel)]="languages"
        ></ion-input>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-card>
        <ion-list>
          <ion-item-sliding
            *ngFor="let session of event.dates; let i = index"
            #slidingItem
          >
            <ion-item>
              <ion-icon name="{{session.icon}}" slot="start"></ion-icon>
              <ion-label>
                <h3>{{session.description}}</h3>
                <p>{{session.date.toDate() | date:'dd-MMM-yyyy hh:mm a'}}</p>
              </ion-label>
            </ion-item>
            <ion-item-options>
              <ion-item-option class="danger-transp" (click)="removeSession(i)">
                <ion-icon
                  slot="icon-only"
                  color="light"
                  name="close-circle"
                ></ion-icon>
              </ion-item-option>
              <ion-item-option (click)="editSession(i)">
                <ion-icon
                  slot="icon-only"
                  color="light"
                  name="pencil"
                ></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
        <ion-button color="tertiary" expand="full" (click)="addSessionModal()">
          Add Session
        </ion-button>
      </ion-card>
    </ion-col>
  </ion-grid>
  <ion-button expand="full" color="primary" (click)="commitEvent()"
    >Submit</ion-button
  >
</ion-content>
